
<table class="table">
  <tr>
    <td>使用者名稱：<%= @profile.user.username %></td>
  </tr>
  <tr>
    <td>簡短介紹：<%= @profile.bio %></td>
  </tr>
</table>
按讚的文章：
<table class="table table-striped">
<% @profile.user.liked_posts.each do |p| %>
  <tr>
    <td><%= link_to p.topic, post_path(p)%></td>
  </tr>
  <% end %>
</table>

收藏的文章：
<table class="table table-striped">
<% @profile.user.favorites.each do |f| %>
  <tr>
    <td><%= link_to f.topic, post_path(f)%></td>
    <td>
      <%= link_to "取消收藏", favorite_post_path(f), method: :post, class: "btn btn-danger" %>
    </td>
  </tr>
  <% end %>
</table>

訂閱的文章：
<table class="table table-striped">
<% @profile.user.subscribed_posts.each do |s| %>
  <tr>
    <td><%= link_to s.topic, post_path(s)%></td>
    <td>
      <%= link_to "取消訂閱", subscribe_post_path(s), method: :post, class: "btn btn-danger" %>
    </td>
  </tr>
  <% end %>
</table>


<% if current_user == @profile.user || current_user.admin? %>
  <%= '尚未發布的草稿：' %>
  <table class="table">
    <% @profile.user.posts.where(status: "draft").each do |p| %>
    <tr>
      <td><%= link_to p.topic, edit_post_path(p) %></td>
    </tr>
    <% end %>
  </table>
<% end %>



發布過的文章：
<table class="table table-striped">
  <% @profile.user.posts.where(status: "published").each do |p| %>
    <tr>
      <td><%= link_to p.topic, post_path(p) %></td>
    </tr>
  <% end %>
</table>
回覆的留言：
<table class="table table-striped">
  <% @profile.user.comments.each do |p| %>
    <tr>
      <td><%= link_to p.comment, post_path(p.post) %></td>
    </tr>
  <% end %>
</table>


  <%= link_to '編輯個人資料', edit_profile_path(@profile) %>

  <%= link_to '返回首頁', posts_path %>