<div class="row">
  <div class="col-md-12">
    <% if @post.comments.any? %>
      <h3>留言</h3>
      <div class="row">
        <div class="col-md-6">
          <table class="table">
            <% @post.comments.each do |comment|%>
            <tr id="comment-<%= comment.id %>">
              <td class="comment-commenter">
                <%= link_to profile_path(comment.user.username) do %>
                <%= image_tag comment.user.gravatar_url %>
                <%= comment.user.try(:username) %>
                <% end %>：
              </td>
              <td><%= comment.comment %></td>
              <td>
                <% if comment.user == current_user %>
                <%= link_to '刪除留言', post_comment_path(@post, comment), method: :delete, remote: true, class: "btn btn-danger" %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
    <% else %>
      <h3>尚無留言</h3>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>我要回覆</h3>
    <%= form_for Comment.new, url: post_comments_path(@post), remote: true do |f| %>
    <div class="row">
      <div class="col-md-6">

        <div class="form-group">
          <%= f.text_area :comment, class: "form-control" %>
        </div>

        <%= f.submit "回覆", class: "btn btn-default"%>
      </div>
    </div>
    <% end %>
  </div>
</div>



