<%= form_for @profile, :url => admin_profile_path(@profile.user.username) do |f| %>

  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@profile.errors.count, "error") %> prohibited
        this post from being saved:
      </h2>
      <ul>
        <% @profile.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
  <p>
    <%= f.label :bio, "簡介" %><br>
    <%= f.text_area :bio, class: "form-control"%>
  </p>
  </div>

  <p>
    <%= f.submit "更新", :class => "btn btn-primary" %>
  </p>

<% end %>

<%= link_to '返回首頁', admin_users_path %>