<%= form_for @post do |f| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this post from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
  <p>
    <%= f.label :topic %><br>
    <%= f.text_field :topic, class: "form-control" %>
  </p>
  </div>

  <div class="form-group">
    <%= f.label :tag_list, "Tag：(請用 , 分開)" %>
    <%= f.text_field :tag_list %>
  </div>

  <div class="form-group">
    <%= f.label :photo, "主題圖片" %>
    <%= f.file_field :photo %>

    <% if @post.photo.exists? %>
      <%= check_box_tag "destroy_photo", "1" %> 刪除主題圖片
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :pictures, '可選擇多個檔案上傳', :class => 'control-label' %>
    <%= file_field_tag "images[]", type: :file, multiple: true %>
    <% if @pictures.exists? %>
      <%= check_box_tag "destroy_image", "1" %> 刪除圖片重新上傳
    <% end %>
  </div>


  <div class="form-group">
  <%= f.label :status, "狀態" %>
  <%= f.select :status, [["公開", "published"], ["草稿", "draft"]] %>
</div>

  <div class="form-group">
    <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
  </div>

  <div class="form-group">
  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content, class: "form-control"%>
  </p>
  </div>

  <p>
    <%= f.submit class: "btn btn-default"%>
  </p>

<% end %>