<div id="logo">
  <h1></h1>
</div>
<div class="row">
  <div class="col-md-12 sort">
    類別搜尋：
    <%= link_to '全部', posts_path, class: "btn btn-primary"  %>
    <% Category.all.each do |category| %>
    <%= link_to category.name, posts_path(category_id: category), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-5 sort">
    熱門標籤：
    <% @tags.each do |tag| %>
    <%= link_to tag.name, posts_path(tag_id: tag), class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="col-md-7 about">
    <ul>
      <li id="forum">
        <%= link_to '關於我', about_path, class: "btn btn-info" %>
      </li>
      <li id="new-post">
        <%= link_to '新文章', new_post_path, class: "btn btn-info" %>
      </li>
      <li>
        <div class="form-inline">
          <%= search_form_for @q, :url => posts_path do |f| %>
          <%= f.label :topic_cont, '搜尋文章標題包含：' %>
          <%= f.search_field :topic_cont ,class: "form-control" %>
          <%= f.submit class: "btn btn-default" %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <tr class="info">
        <th>標題</th>
        <th>作者</th>
        <th>分類</th>
        <th>參與討論者</th>
        <th>最後回覆</th>
        <th><%= sort_link(@q, :comments_count, '回覆數') %></th>
        <th><%= sort_link(@q, :created_at, '文章發佈時間') %></th>        <th><%= sort_link(@q, :last_comment, '最後回覆時間') %></th>
        <% if current_user && current_user.admin? %>
          <th>文章狀態</th>
        <% end %>
        <th id="function"></th>
      </tr>

      <% @posts.each do |post| %>
        <tr>
          <td><%= link_to post.topic, post_path(post)  %></td>
          <td class="author">
            <%= link_to profile_path(post.user.username) do %>
              <%= post.user.try(:username) %>
            <% end %>
          </td>
          <td>
              <% post.categories.each do |cat|%>
                <span class=" label label-info"><%= cat.name %></span>
              <% end %>
          </td>
          <td class="author">
            <% post.comment_users.each do |user| %>
              <%= link_to profile_path(user.username) do %>
              <%= image_tag user.gravatar_url %>
              <% end %>
            <% end %>
          </td>
          <td class="author">
            <% if post.comments.any? %>
              <%= link_to profile_path(post.comments.last.user.username) do %>
              <%= image_tag post.comments.last.user.gravatar_url %>
              <% end %>
            <% else %>
            <%= link_to '成為第一個留言的使用者!', post_path(post) %>
            <% end %>
          </td>
          <td><%= post.comments.size %></td>
          <td><%= post.created_at.strftime('%b %d %Y %H:%M') %></td>
          <td><% if post.comments.any? %>
            <%= post.comments.last.created_at.strftime('%b %d %Y %H:%M') %>
            <% else %>
            <%= '尚無留言' %>
            <% end %>
          </td>
          <% if current_user && current_user.admin? %>
            <td>
              <%= post.status %>
            </td>
          <% end %>
          <td>
            <% if can_edit_post?(post) %>
                <%= link_to "編輯", edit_post_path(post), class: "btn btn-success" %>
                <%= link_to "刪除", post_path(post), method: :delete, data: { confirm: "你確定要刪除這則文章?" }, class: "btn btn-danger" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

    <div>
      <%= paginate @posts %>
    </div>
  </div>
</div>












