  <table class="table">
    <tr>
      <td><h2>標題<%= @post.topic%></h2></td>
    </tr>
    <tr>
      <td><h4>分類：
        <% @post.categories.each do |c|%>
        <span class=" label label-info"><%= c.name %></span>
        <% end %>
        </h4>
      </td>
    </tr>
    <tr>
      <td>作者：<%= image_tag @post.user.gravatar_url %><%= @post.user.username %></td>
    </tr>
    <tr>
      <td><p>內文：<%= @post.content%></p></td>
    </tr>

  </table>


  <% if @post.user == current_user %>
    <%= link_to '編輯', edit_post_path(@post), class: "btn btn-primary" %>
  <% end %>

  <% if current_user %>
  <%= link_to "收藏",   favorite_post_path(@post, type: "favorite"), method: :put, class: "btn btn-success" %>
  <%= link_to "取消收藏", favorite_post_path(@post, type: "unfavorite"), method: :put, class: "btn btn-danger" %>
  <% end %>




  <h3>我要回覆</h3>

  <%= render 'comments/form'%>

  <h3>留言</h3>

  <%= render 'comments/comment' %>


  <br>
  <%= link_to '返回首頁', posts_path %>