  <table class="table">
    <tr><td><h2>Topic: <%= @post.topic%></h2></td></tr>
    <tr><td><h4>Category:
    <% @post.categories.each do |c|%>
    <%= c.name %> /
    <% end %>
    </h4></td></tr>
    <tr><td><p>Content: <%= @post.content%></p></td></tr>

  </table>


  <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-warning" %>


  <h3>Add a comment:</h3>

  <%= render 'comments/form'%>

  <h3>Comments</h3>

  <%= render 'comments/comment' %>


  <br>
  <%= link_to 'Back to Home', posts_path %>