<%= content_for :head do %>
    <%= tag(:meta, :content => @post.topic, :property => "og:title") %>
    <%= tag(:meta, :content => "article", :property => "og:type") %>
    <%= tag(:meta, :content => post_url(@post), :property => "og:url") %>
<% end %>

<div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div class="fb-like" data-href="https://www.facebook.com/acminiproject2forum?skip_nax_wizard=true" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

<table class="table">
  <tr class="active">
    <td><h2>標題<%= @post.topic%></h2></td>
  </tr>
  <tr>
    <td><h4>分類：
      <% @post.categories.each do |c|%>
      <span class=" label label-info"><%= c.name %></span>
      <% end %>
      </h4>
    </td>
  </tr>
  <tr>
    <td class="author">作者：
      <%= link_to profile_path(@post.user.username) do %>
      <%= image_tag @post.user.gravatar_url %>
      <%= @post.user.username %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <% if @post.photo.exists?%>
      <%= image_tag(@post.photo.url(:medium)) %>
      <% else %>
      無上傳圖片
      <% end %>
    </td>
  </tr>
  <tr>
    <td><p>內文：<%= @post.content%></p></td>
  </tr>
  <tr>
    <td>
      標籤:
      <% @post.tags.each do |t| %>
        <%= t.name %>
      <% end %>
    </td>
  </tr>
</table>

<table class="table">
  <tr>
    <td id="like" class="author">
      <%= render :partial => "like" %>
    </td>
  </tr>
</table>

<% if can_edit_post?(@post) %>
  <%= link_to '編輯', edit_post_path(@post), class: "btn btn-primary" %>
<% end %>

<% if current_user %>
  <% if current_user.favorite_post?(@post) %>
    <%= link_to "取消收藏", favorite_post_path(@post), method: :post, class: "btn btn-success" %>
  <% else %>
    <%= link_to "收藏", favorite_post_path(@post), method: :post, class: "btn btn-default" %>
  <% end %>
<% end %>

<% if current_user %>
    <%= link_to subscribe_post_path(@post), method: :post, class: "btn", id: "subscribe", remote: true do %>
      <% if current_user.subscribe_post?(@post) %>
        <span class="btn btn-success">取消訂閱</span>
      <% else %>
        <span class="btn btn-default">訂閱</span>
      <% end %>
      <span class="badge"><%= @post.subscribed_users.size %></span>
    <% end %>
<% end %>

<div id="comments">
  <%= render 'comments/comment' %>
</div>
