<table class="table table-hover">
  <tr>
    <%= form_for Category.new, url: admin_categories_path do |f| %>

  <div class="form-group">
  <p>
    <%= f.label :name, "新增分類" %><br>
    <%= f.text_field :name, class: "form-control" %>
  </p>
  </div>

  <p>
    <%= f.submit "新增", class: "btn btn-default"%>
  </p>

<% end %>
    <% Category.all.each do |category| %>
      <%= link_to category.name, edit_admin_category_path(category), class: "btn btn-primary" %>
      <%= link_to '刪除',admin_category_path(category), method: :delete, data: { confirm: "確定要刪除這個分類嗎?" }, class: "btn btn-danger" %>
    <% end %>
  </tr>
</table>

使用者列表：

<table class="table table-hover">
  <tr>
    <th>使用者</th>
    <th>個人簡介</th>
    <th>權限</th>
    <th colspan="2"></th>
  </tr>
  <% @users.each do |u| %>
  <tr>
    <td>
      <%= image_tag u.gravatar_url %><%= u.username %>
    </td>
    <td>
      <%= u.profile.bio %>
    </td>
    <td>
      <%= u.role %>
    </td>
    <td>
      <%= link_to '編輯使用者資料', edit_admin_profile_path(u.profile), class: "btn btn-success" %>
      <%= link_to '修改權限', edit_admin_user_path(u), class: "btn btn-warning"  %>
    </td>
  </tr>
  <% end %>
</table>